@use 'functions';

.text-orange {
  color: $clrPrimary !important;
}

.text-accent {
  color: $clrAccent !important;
}

.text-melanite {
  color: $clrMelanite !important;
}

.text-black {
  color: $clrBlack !important;
}

.text-gradient {
  background-image: linear-gradient(90deg, $clrPrimary 20%, rgba($clrPrimary, 0.4) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-underlined {
  display: inline-flex;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    inset: 72.5% 0 auto 0;
    height: 100vh;
    background-image: url('/assets/images/illustrations/underline.svg');
    background-repeat: no-repeat;
  }
}

.icon-link {
  color: $clrMelanite;
  transition: all 0.15s;

  i {
    color: $clrPrimary;
    transition: all 0.15s;
  }

  @media (hover) {
    &:hover {
      color: $clrPrimary;

      i {
        transform: translateX(5px);
      }
    }
  }
}

.link-white {
  --bs-link-color-rgb: 255, 255, 255;
  --bs-link-hover-color-rgb: #{functions.hexToRgb($clrPrimary)};
  transition: all 0.15s;
}

.section-spacing {
  padding-block: 2rem;
}

.section-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;

  &-bold {
    font-weight: 800;
  }
}

.flow {
  display: flex;
  flex-direction: column;

  & > * {
    margin: 0;

    &:not(:first-child) {
      margin-top: 1em;
    }
  }
}

.tab-nav {
  &-item {
    background-color: rgba($clrPrimary, 0.5);
    transition: all 0.2s;
    cursor: pointer;

    &.active {
      background-color: $clrPrimary;
      color: white;
    }
  }
}

.gradient-hover {
  $_transitionDuration: 0.2s;
  position: relative;
  isolation: isolate;
  transition: all $_transitionDuration;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background-image: linear-gradient(270deg, $clrPrimary 15%, rgba($clrPrimary, 0.4) 105%);
    opacity: 0;
    transition: all $_transitionDuration ease-out;
    z-index: -1;
  }

  @media (hover) {
    &:hover {
      color: white;
      background-color: transparent;

      &::before {
        opacity: 1;
      }
    }
  }
}

.list-check {
  $_listItemSpacing: 1rem;

  &-space-lg {
    $_listItemSpacing: 1.5rem;
  }

  &-space-xl {
    $_listItemSpacing: 3rem;
  }

  li {
    position: relative;
    padding-left: 3.5rem;

    &::before {
      content: '\f00c';
      position: absolute;
      inset: 0 auto auto 0;
      font-family: $fontFontAwesome;
      font-size: 2.5rem;
      line-height: 2.5rem;
      color: $clrPrimary;
    }

    &:not(:last-child) {
      margin-bottom: $_listItemSpacing;
    }
  }
}
