@use 'sass:color';
@use 'functions';

.text-orange {
  color: $clr-primary !important;
}

.text-accent {
  color: $clr-accent !important;
}

.text-melanite {
  color: $clr-melanite !important;
}

.text-black {
  color: $clr-black !important;
}

.text-gradient {
  background-image: linear-gradient(90deg, $clr-primary 20%, rgba($clr-primary, 0.4) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

// .text-underlined {
//   display: inline-flex;
//   position: relative;
//   overflow: hidden;

//   &::after {
//     content: '';
//     position: absolute;
//     // inset: 72.5% -1rem auto 0;
//     // height: 4rem;
//     // border: 3px solid $clr-primary;
//     // border-radius: 0.5rem 30% 0 0;
//     // clip-path: polygon(0 0, 100% 0%, 100% 15%, 0 4%);
//     // rotate: -4deg;
//     inset: 72.5% 0 auto 0;
//     height: 100vh;
//     background-image: url('/assets/images/illustrations/underline.svg');
//     background-repeat: no-repeat;
//   }
// }

.icon-link {
  color: $clr-melanite;
  transition: all 0.15s;

  i {
    color: $clr-primary;
    transition: all 0.15s;
  }

  &:hover {
    color: $clr-primary;

    i {
      transform: translateX(5px);
    }
  }
}

.link-white {
  --bs-link-color-rgb: 255, 255, 255;
  --bs-link-hover-color-rgb: #{functions.hex-to-rgb($clr-primary)};
  transition: all 0.15s;
}

.link-melanite {
  --bs-link-color-rgb: #{functions.hex-to-rgb($clr-melanite)};
  --bs-link-hover-color-rgb: #{functions.hex-to-rgb($clr-primary)};
  transition: all 0.15s;
}

.border-orange {
  border-color: $clr-primary !important;

  &-light {
    border-color: color.scale($clr-primary, $alpha: -70%) !important;
  }
}

.section-spacing {
  padding-block: 2rem;

  &-sm {
    padding-block: 1rem;
  }

  &-lg {
    padding-block: 4rem;
  }

  &-xl {
    padding-block: 8rem;
  }
}

.section-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;

  &-bold {
    font-weight: 800;
  }

  @media (min-width: 992px) {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
}

.flow {
  --_margin: 1em;
  display: flex;
  flex-direction: column;

  & > * {
    margin: 0;

    &:not(:first-child) {
      margin-block-start: var(--_margin);
    }
  }

  &-sm {
    --_margin: 0.5em;
  }

  &-lg {
    --_margin: 1.5em;
  }

  &-xl {
    --_margin: 3em;
  }
}

.tab-nav {
  overflow: auto;
  margin-right: -0.75rem;
  padding-right: 0.75rem;
  font-size: 1rem;

  &-item {
    min-width: 35%;
    flex-shrink: 0;
    background-color: rgba($clr-primary, 0.5);
    color: $clr-black;
    text-decoration: none;
    transition: all 0.2s;
    cursor: pointer;

    &.active {
      background-color: $clr-primary;
      color: white;
    }
  }

  @media (min-width: 768px) {
    margin-right: unset;
    font-size: 1.25rem;
  }
}

.gradient-hover {
  --_transition-duration: 0.2s;
  position: relative;
  isolation: isolate;
  transition: all var(--_transition-duration);

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background-image: linear-gradient(90deg, rgba($clr-primary, 0.4) 5%, $clr-primary 50%);
    opacity: 0;
    transition: all var(--_transition-duration) ease-out;
    z-index: -1;
  }

  &:hover,
  &:focus-visible {
    color: white;
    background-color: transparent;

    &::before {
      opacity: 1;
    }
  }
}

.btn-primary {
  --bs-btn-bg: #{$clr-primary};
  --bs-btn-hover-bg: transparent;
  --bs-btn-active-bg: #{$clr-primary};
  --bs-btn-border-width: 0;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 700;

  padding: 0;
  background-color: unset !important;
  border-radius: 2rem;

  &:hover,
  &:focus-visible {
    .btn-inner-text {
      background-color: transparent;
    }
  }

  @media (min-width: 992px) {
    --bs-btn-font-size: 1.5rem;
  }
}

.btn-inner-wrapper {
  --_gap: 1rem;
  --_transition-duration: 0.15s;
  display: flex;
  align-items: center;
  gap: var(--_gap);
  height: 3rem;
  position: relative;
  overflow: hidden;
  isolation: isolate;

  .btn-inner-text {
    display: grid;
    place-items: center;
    height: 100%;
    padding-inline: 1.5rem;
    position: relative;
    background-color: $clr-primary;
    border-radius: 2rem;
    transition: all var(--_transition-duration) ease-out;
    isolation: isolate;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-image: linear-gradient(90deg, rgba($clr-primary, 0.4) 20%, $clr-primary 50%);
      border-radius: inherit;
      z-index: -1;
    }
  }

  .btn-inner-icon {
    display: grid;
    place-items: center;
    height: 100%;
    aspect-ratio: 1;
    background-color: $clr-primary;
    border-radius: 50%;
  }

  &::before,
  &::after {
    --_size: 5.5rem;
    --_shift-x: 0.775rem;
    --_shift-y: -5.125rem;
    content: '';
    position: absolute;
    inset: var(--_shift-y) var(--_shift-x) auto auto;
    width: var(--_size);
    height: calc(var(--_size) * 1.25);
    background-color: white;
    background-clip: padding-box;
    border-radius: 50%;
    border: 0.9rem solid;
    border-color: transparent transparent $clr-primary transparent;
    z-index: -1;
  }

  &::after {
    inset: auto var(--_shift-x) var(--_shift-y) auto;
    border-color: $clr-primary transparent transparent transparent;
  }

  @media (min-width: 992px) {
    .btn-inner-text {
      padding-inline: 3.5rem;
    }
  }
}

.btn-outline-primary {
  --bs-btn-border-width: 2px;
  --bs-btn-border-color: #{$clr-primary};
  --bs-btn-hover-border-color: #{$clr-primary};
  --bs-btn-padding-x: 1.5rem;
  --bs-btn-color: #{$clr-black};
  --bs-btn-hover-bg: #{$clr-primary};
  --bs-btn-active-bg: #{$clr-primary};
  --bs-btn-active-border-color: #{$clr-primary};
  --bs-btn-font-weight: 700;
}
