// Font Families
$fontMulish: 'Mulish', sans-serif;
$fontInter: 'Inter', sans-serif;
$fontRoboto: 'Roboto', sans-serif;

// Colors
$clrPrimary: #fe4c02;
$clrAccent: #4cff89;
$clrMelanite: #232922;
$clrBlack: #222;
