@import 'fonts', 'variables', 'navigation', 'utils';

body {
  font-family: $font-mulish;
  color: $clr-black;
}

main {
  padding-bottom: 30rem;
  background-image: url('/assets/images/illustrations/panorama.svg');
  background-repeat: no-repeat;
  background-position: bottom left;
}

footer {
  padding-top: 2.5rem;
  background-color: $clr-melanite;
}

img,
svg {
  display: block;
  max-width: 100%;
}

.hero-swiper {
  border-radius: 2rem;
  overflow: hidden;

  .swiper-button-next {
    --swiper-navigation-sides-offset: 5rem;
    --swiper-navigation-color: white;
    --swiper-navigation-size: 3rem;
    top: unset;
    bottom: 5rem;

    &::after {
      content: '\f105';
      font-family: $font-font-awesome;
    }
  }

  .swiper-pagination {
    --swiper-pagination-bottom: 3rem;
    --swiper-pagination-bullet-width: 10px;
    --swiper-pagination-bullet-height: 10px;
    --swiper-pagination-color: white;
    --swiper-pagination-bullet-inactive-color: white;
    --swiper-pagination-bullet-inactive-opacity: 0.5;
  }
}

.hero-slide {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 500px;
  padding: 3rem 5rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  isolation: isolate;

  &-overlay {
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-image: linear-gradient(transparent, rgba(black, 0.6) 50%);
      z-index: -1;
    }
  }

  &-slogan {
    font-size: 1.5rem;

    &::before {
      content: '';
      display: inline-block;
      width: 4rem;
      height: 1px;
      margin-right: 0.5rem;
      background-color: white;
      vertical-align: 0.5rem;
    }
  }

  &-title {
    font-size: 4rem;
    filter: drop-shadow(0 0 4px rgba(black, 0.3));
  }

  &-location {
    i {
      margin-right: 0.25rem;
    }
  }
}

.specialization-tab-pane {
  .icon-link {
    align-self: flex-start;
  }

  .specialization-illustration {
    width: 60%;
  }

  .specialization-image-wrapper {
    position: relative;
    border-radius: 2rem;
    overflow: hidden;

    img {
      width: 100%;
    }

    a {
      position: absolute;
      inset: auto 2rem 1rem auto;
    }
  }
}

.why-section-counters {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 0;
}

.why-section-counter-item {
  display: flex;
  flex: 1 0 50%;
  flex-direction: column;
  align-items: center;

  &:nth-child(odd) {
    border-right: 1px solid $clr-gray;
  }

  span:first-child {
    font-size: 4rem;
    font-weight: 800;
  }

  span:last-child {
    font-size: 1.5rem;
  }
}

.companies-list {
  display: flex;
  flex-wrap: nowrap;
  height: 100px;
  justify-content: space-between;

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 12%;

    img {
      max-height: 100%;
    }
  }
}

.gallery-section-grid {
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  grid-template-rows: 1fr 1fr;
  gap: 1rem;

  &-item {
    height: 280px;
    border-radius: 2rem;

    @for $i from 2 through 4 {
      &.col-span-#{$i} {
        grid-column: span $i;
      }
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: inherit;
      object-fit: cover;
    }
  }
}

.project-card {
  color: $clr-melanite;
  text-decoration: none;

  &-img-wrapper {
    border-radius: 2rem;
    overflow: hidden;

    img {
      width: 100%;
      transition: all 0.2s ease-in;
    }
  }

  @media (hover) {
    &:hover {
      color: $clr-primary;

      img {
        transform: scale(1.05);
      }
    }
  }
}

.list-check {
  --_link-item-spacing: 1rem;

  &-space-lg {
    --_link-item-spacing: 1.5rem;
  }

  &-space-xl {
    --_link-item-spacing: 3rem;
  }

  li {
    position: relative;
    padding-left: 3.5rem;

    &::before {
      content: '\f00c';
      position: absolute;
      inset: 0 auto auto 0;
      font-family: $font-font-awesome;
      font-size: 2.5rem;
      line-height: 2.5rem;
      color: $clr-primary;
    }

    &:not(:last-child) {
      margin-bottom: var(--_link-item-spacing);
    }
  }
}

.linked-wrapper {
  --_link-size: 6.5rem;
  --_link-scale: 1;
  --_icon-size: 2.5rem;
  display: grid;
  position: relative;

  &-link {
    display: grid;
    place-items: center;
    width: var(--_link-size);
    aspect-ratio: 1;
    position: absolute;
    inset: 50% auto auto 50%;
    border-radius: 50%;
    background-color: $clr-primary;
    color: white;
    font-size: var(--_icon-size);
    text-decoration: none;
    transform: translate(-50%, -50%) scale(var(--_link-scale));
    will-change: transform;
    transition: all 0.3s;

    &-sm {
      --_icon-size: 1.5rem;
    }

    &-lg {
      --_icon-size: 3.5rem;
    }

    i {
      transition: inherit;
      will-change: transform;
    }

    @media (hover) {
      &:hover {
        box-shadow: 0 0 50px rgba(black, 0.3);

        i {
          transform: scale(1.2);
        }
      }
    }
  }

  @media (hover) {
    &:hover {
      --_link-scale: 1.2;
    }
  }
}

.social-links {
  display: flex;
  gap: 0.75rem;
  font-size: 1.5rem;
}
