@use 'mixins';

@import 'reset', 'fonts', 'variables', 'navigation', 'utils';

html {
  --global-border-radius: 1.25rem;

  @media (min-width: 768px) {
    --global-border-radius: 2rem;
  }
}

body {
  display: flex;
  min-height: 100dvh;
  flex-direction: column;
  font-family: $font-mulish;
  color: $clr-black;
  position: relative;
}

main {
  flex: 1;
  padding-bottom: 10rem;

  &.decorated {
    padding-bottom: 10rem;
    background-image: url('/assets/images/illustrations/panorama.svg');
    background-repeat: no-repeat;
    background-position: bottom left;
  }

  @media (min-width: 768px) {
    &.decorated {
      padding-bottom: 15rem;
    }
  }

  @media (min-width: 992px) {
    &.decorated {
      padding-bottom: 20rem;
    }
  }

  @media (min-width: 1200px) {
    &.decorated {
      padding-bottom: 30rem;
    }
  }
}

footer {
  padding-block: 4rem;
  background-color: $clr-melanite;
}

.hero-swiper {
  border-radius: var(--global-border-radius);
  overflow: hidden;

  .swiper-button-next {
    --swiper-navigation-sides-offset: 1.5rem;
    --swiper-navigation-color: white;
    --swiper-navigation-size: 2rem;
    top: unset;
    bottom: 3.5rem;

    &::after {
      content: '\f105';
      font-family: $font-font-awesome;
    }
  }

  .swiper-pagination {
    --swiper-pagination-bottom: 1.5rem;
    --swiper-pagination-bullet-width: 8px;
    --swiper-pagination-bullet-height: 8px;
    --swiper-pagination-color: white;
    --swiper-pagination-bullet-inactive-color: white;
    --swiper-pagination-bullet-inactive-opacity: 0.5;
  }

  @media (min-width: 992px) {
    .swiper-button-next {
      --swiper-navigation-sides-offset: 5rem;
      --swiper-navigation-size: 3rem;
    }

    .swiper-pagination {
      --swiper-pagination-bottom: 3rem;
      --swiper-pagination-bullet-width: 10px;
      --swiper-pagination-bullet-height: 10px;
    }
  }
}

.hero-slide {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 280px;
  padding: 1.5rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  isolation: isolate;

  &-overlay {
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-image: linear-gradient(transparent, rgba(black, 0.6) 50%);
      z-index: -1;
    }
  }

  &-16-9 {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
  }

  &-project {
    padding-bottom: 5rem;
  }

  &-slogan {
    font-size: 0.875rem;

    &::before {
      content: '';
      display: inline-block;
      width: 4rem;
      height: 1px;
      margin-right: 0.5rem;
      background-color: white;
      vertical-align: 0.325rem;
    }
  }

  &-title {
    font-size: 2.25rem;
    filter: drop-shadow(0 0 4px rgba(black, 0.3));

    & + span {
      font-size: 0.75rem;
    }
  }

  .btn-play {
    --bs-btn-color: white;
    --bs-btn-hover-color: #{$clr-primary};
    --bs-btn-border-radius: 50%;

    position: absolute;
    inset: 50% auto auto 50%;
    padding: 0;
    font-size: 7rem;
    line-height: 1;
    translate: -50% -50%;
    transition: all 0.2s;
    will-change: transform;
    z-index: 1;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 0 50px rgba(black, 0.3);
    }
  }

  @media (min-width: 992px) {
    height: 500px;
    padding: 3rem 5rem;

    &-slogan {
      font-size: 1.5rem;

      &::before {
        vertical-align: 0.5rem;
      }
    }

    &-title {
      font-size: 4rem;

      & + span {
        font-size: 1rem;
      }
    }
  }
}

.specialization-tab-pane {
  .icon-link {
    align-self: flex-start;
  }

  .specialization-illustration {
    width: 60%;
  }

  .specialization-image-wrapper {
    position: relative;
    border-radius: var(--global-border-radius);
    overflow: hidden;

    img {
      width: 100%;
    }

    a {
      position: absolute;
      inset: auto 2rem 1rem auto;
    }
  }
}

.why-section-counters {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 0;
}

.why-section-counter-item {
  display: flex;
  flex: 1 0 50%;
  flex-direction: column;
  align-items: center;
  padding-inline: 1rem;
  text-align: center;

  &:nth-child(odd) {
    border-right: 1px solid $clr-gray;
  }

  span:first-child {
    font-size: 2.5rem;
    font-weight: 800;
  }

  @media (min-width: 992px) {
    padding-inline: 0;

    span:first-child {
      font-size: 4rem;
    }

    span:last-child {
      font-size: 1.5rem;
    }
  }
}

.companies-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 1rem;
  height: 100px;
  margin-right: -0.75rem;
  padding-right: 0.75rem;
  overflow: auto;

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 12%;
    min-width: 100px;

    img {
      max-height: 100%;
    }
  }

  @media (min-width: 768px) {
    margin-right: unset;

    li {
      min-width: unset;
    }
  }
}

.gallery-section-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: 1fr 1fr;
  gap: 0.75rem;

  &-item {
    height: 155px;
    border-radius: var(--global-border-radius);

    &:nth-of-type(1) {
      grid-column: span 2;
    }

    &:nth-of-type(4) {
      grid-column: span 2;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: inherit;
      object-fit: cover;
      object-position: top center;
    }
  }

  @media (min-width: 768px) {
    &-item {
      height: 250px;
    }
  }

  @media (min-width: 992px) {
    grid-template-columns: repeat(10, minmax(0, 1fr));
    gap: 1rem;

    &-item {
      height: 200px;

      &:nth-of-type(1) {
        grid-column: span 2;
      }

      &:nth-of-type(2) {
        grid-column: span 3;
      }

      &:nth-of-type(3) {
        grid-column: span 2;
      }

      &:nth-of-type(4) {
        grid-column: span 3;
      }

      &:nth-of-type(5) {
        grid-column: span 4;
      }

      &:nth-of-type(6) {
        grid-column: span 2;
      }

      &:nth-of-type(7) {
        grid-column: span 4;
      }
    }
  }

  @media (min-width: 1200px) {
    &-item {
      height: 280px;
    }
  }
}

.project-card {
  color: $clr-melanite;
  text-decoration: none;
  transition: all 0.15s ease-out;

  &-img-wrapper {
    border-radius: var(--global-border-radius);
    overflow: hidden;

    img {
      width: 100%;
      transition: all 0.3s ease-out;
    }
  }

  &:hover {
    color: $clr-primary;

    img {
      transform: scale(1.05);
    }
  }

  @media (min-width: 768px) {
    h5 {
      font-size: 1.5rem;
    }
  }
}

.list-check {
  --_link-item-spacing: 1rem;

  &-space-lg {
    --_link-item-spacing: 1.5rem;
  }

  &-space-xl {
    --_link-item-spacing: 3rem;
  }

  li {
    position: relative;
    padding-left: 3.5rem;

    &::before {
      content: '\f00c';
      position: absolute;
      inset: 0 auto auto 0;
      font-family: $font-font-awesome;
      font-size: 2.5rem;
      line-height: 2.5rem;
      color: $clr-primary;
    }

    &:not(:last-child) {
      margin-bottom: var(--_link-item-spacing);
    }
  }
}

.linked-wrapper {
  --_link-size: 4rem;
  --_link-scale: 1;
  --_icon-size: 1.75rem;
  position: relative;

  &-link {
    display: grid;
    place-items: center;
    width: var(--_link-size);
    aspect-ratio: 1;
    position: absolute;
    inset: 50% auto auto 50%;
    border-radius: 50%;
    background-color: $clr-primary;
    color: white;
    font-size: var(--_icon-size);
    text-decoration: none;
    transform: translate(-50%, -50%) scale(var(--_link-scale));
    will-change: transform;
    transition: all 0.3s;

    &-sm {
      --_icon-size: 1.5rem;
    }

    &-lg {
      --_icon-size: 3.5rem;
    }

    i {
      transition: inherit;
      will-change: transform;
    }

    &:hover {
      box-shadow: 0 0 50px rgba(black, 0.3);

      i {
        transform: scale(1.2);
      }
    }
  }

  &:hover {
    --_link-scale: 1.2;
  }

  @media (min-width: 768px) {
    --_link-size: 6.5rem;
    --_icon-size: 2.5rem;
  }
}

.social-links {
  display: flex;
  gap: 0.75rem;
  font-size: 1.5rem;
}

.circles-bg {
  position: absolute;
  inset: 0;
  overflow: hidden;
  z-index: -2;

  &-item {
    --_move-x-coef: -1.4;
    position: absolute;
    width: 100px;
    height: 100px;
    background: radial-gradient(50% 50% at 50% 50%, rgba($clr-accent, 0.3), transparent);
  }

  &[data-positioning='homepage'] {
    $circles-positions: (
      (
        width: 350px,
        height: 350px,
        inset: 0 10% auto auto,
      ),
      (
        width: 825px,
        height: 1015px,
        inset: 0 auto auto calc(825px / var(--_move-x-coef)),
      ),
      (
        width: 1340px,
        height: 1340px,
        inset: 900px calc(1340px / var(--_move-x-coef)) auto auto,
      ),
      (
        width: 690px,
        height: 690px,
        inset: 1450px auto auto calc(690px / var(--_move-x-coef)),
      ),
      (
        width: 500px,
        height: 500px,
        inset: 2450px auto auto 350px,
      ),
      (
        width: 1170px,
        height: 1170px,
        inset: 2750px calc(1170px / var(--_move-x-coef)) auto auto,
      ),
      (
        width: 935px,
        height: 1150px,
        inset: 3340px auto auto calc(935px / var(--_move-x-coef)),
      )
    );

    @include mixins.bg-circle-positions($circles-positions);
  }

  &[data-positioning='contact-us'] {
    $circles-positions: (
      (
        width: 1000px,
        height: 1000px,
        inset: -45% 10% auto auto,
      ),
      (
        width: 1000px,
        height: 1000px,
        inset: 80px auto auto 35%,
      ),
      (
        width: 1000px,
        height: 1000px,
        inset: 500px auto auto calc(1000px / var(--_move-x-coef)),
      ),
      (
        width: 1300px,
        height: 900px,
        inset: 900px -40% auto auto,
      )
    );

    @include mixins.bg-circle-positions($circles-positions);
  }

  &[data-positioning='projects'] {
    $circles-positions: (
      (
        width: 825px,
        height: 825px,
        inset: 150px 100px auto auto,
      ),
      (
        width: 1040px,
        height: 1040px,
        inset: 360px auto auto calc(1040px / var(--_move-x-coef)),
      ),
      (
        width: 1040px,
        height: 1040px,
        inset: 800px 0 auto auto,
      ),
      (
        width: 1300px,
        height: 1300px,
        inset: 1900px auto auto calc(1300px / var(--_move-x-coef)),
      ),
      (
        width: 1300px,
        height: 1300px,
        inset: 1900px calc(1300px / var(--_move-x-coef)) auto auto,
      )
    );

    @include mixins.bg-circle-positions($circles-positions);
  }

  &[data-positioning='gallery'] {
    $circles-positions: (
      (
        width: 825px,
        height: 825px,
        inset: 0 8% auto auto,
      ),
      (
        width: 1000px,
        height: 1000px,
        inset: 625px auto auto 10%,
      ),
      (
        width: 1440px,
        height: 1440px,
        inset: 1630px calc(1440px / var(--_move-x-coef)) auto auto,
      )
    );

    @include mixins.bg-circle-positions($circles-positions);
  }

  &[data-positioning='project-page'] {
    $circles-positions: (
      (
        width: 825px,
        height: 825px,
        inset: 180px -20% auto auto,
      ),
      (
        width: 1000px,
        height: 1000px,
        inset: 360px auto auto calc(1000px / var(--_move-x-coef)),
      )
    );

    @include mixins.bg-circle-positions($circles-positions);
  }
}

.contact-us-wrapper {
  position: relative;

  .form-label {
    font-weight: 600;
  }

  .form-control {
    --bs-border-color: #{$clr-accent};
    border-radius: var(--global-border-radius);
    box-shadow: none;
    outline: none;
    padding: 1rem 1.25rem;
    font-size: 1rem;

    &:focus {
      border-color: $clr-primary;
    }

    &:invalid {
      border-color: var(--bs-red);
      outline: 1px solid var(--bs-red);
    }
  }

  textarea {
    padding-block: 1rem !important;
  }

  @media (min-width: 768px) {
    min-height: 600px;
    padding-block: 3rem 0;
    margin-bottom: 3rem;

    .form-label {
      padding-left: 1.25rem;
    }

    .form-text {
      padding: 0 1.25rem;
    }
  }

  @media (min-width: 992px) {
    min-height: 800px;
    padding-block: 5rem 0;
    margin-bottom: 5rem;
  }
}

.contact-us-bg-layer {
  --_col-width: 250px;
  --_gap: 1.75rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, var(--_col-width)));
  grid-template-rows: repeat(6, calc((var(--_col-width) - (var(--_gap) * 2)) / 3));
  gap: var(--_gap);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
  position: absolute;
  inset: 50% 0 auto auto;
  transform: translateY(-50%);
  isolation: isolate;
  z-index: -1;

  & > * {
    margin: 0;
  }

  img:not(.contact-us-arrow) {
    border-radius: var(--global-border-radius);
  }

  img:nth-of-type(1) {
    aspect-ratio: 1;
    grid-row: span 3;
    object-fit: cover;
  }

  img:nth-of-type(2) {
    aspect-ratio: 1;
    grid-column: 1;
    grid-row: span 3;
    object-fit: cover;
  }

  img:nth-of-type(3) {
    height: 100%;
    grid-column: 2;
    grid-row: 2 / 6;
    object-fit: cover;
  }

  p {
    align-self: end;
    z-index: 2;
  }

  .contact-us-arrow {
    position: absolute;
    z-index: 1;

    &.top {
      inset: -2rem 2.5rem auto auto;
      width: 15%;
    }

    &.center {
      inset: 60% auto auto 33%;
      width: 40%;
      transform: translate(-50%, -50%);
    }

    &.bottom {
      inset: auto 20% -4.5rem auto;
      width: 100%;
    }
  }

  @media (min-width: 992px) {
    --_col-width: 340px;
    font-size: 1.25rem;
  }

  @media (min-width: 1200px) {
    --_col-width: 360px;

    .contact-us-arrow {
      &.top {
        inset: -0.5rem 2.5rem auto auto;
      }

      &.bottom {
        inset: auto 30% -4.5rem auto;
      }
    }
  }

  @media (min-width: 1400px) {
    .contact-us-arrow {
      &.bottom {
        inset: auto 50% -4.5rem auto;
      }
    }
  }
}

#contact-us-form {
  button[type='submit'] {
    margin-top: 2rem;
  }

  @media (min-width: 992px) {
    button[type='submit'] {
      margin-top: 5rem;
    }
  }
}

.swal2-popup {
  border-radius: var(--global-border-radius);
}

.swal2-icon {
  width: unset;
  height: unset;
  margin: 2rem auto 0.6rem;
  border: none;
  font-size: 2rem;
}

.swal2-title {
  padding-inline: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
}

.swal2-html-container {
  font-size: 0.875rem !important;
  font-weight: 500 !important;
}

.swal2-close {
  position: absolute;
  margin: 0;
  inset: 1rem 1rem auto auto;
}

.gallery-page-section {
  padding-block: 2.5rem 0;

  @media (min-width: 768px) {
    padding-block: 4rem;
  }
}

.gallery-grid-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  @media (min-width: 768px) {
    gap: 1.25rem;
  }
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(9, minmax(0, 1fr));
  grid-template-rows: repeat(6, 150px);
  gap: 0.75rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    border-radius: var(--global-border-radius);
    cursor: zoom-in;

    &:nth-of-type(1) {
      grid-column: span 9;
      grid-row: span 2;
    }

    &:nth-of-type(2) {
      grid-column: span 4;
    }

    &:nth-of-type(3) {
      grid-column: span 5;
      grid-row: span 2;
    }

    &:nth-of-type(4) {
      grid-column: span 4;
    }

    &:nth-of-type(5) {
      grid-column: span 5;
      grid-row: span 2;
    }

    &:nth-of-type(6) {
      grid-column: span 4;
    }

    &:nth-of-type(7) {
      grid-column: span 4;
    }
  }

  @media (min-width: 768px) {
    grid-template-rows: repeat(5, 320px);
    gap: 1.25rem;

    img {
      &:nth-of-type(1) {
        grid-row: span 1;
      }
    }
  }

  @media (min-width: 992px) {
    grid-template-rows: repeat(8, 130px);

    img {
      &:nth-of-type(1) {
        grid-column: span 4;
        grid-row: span 5;
      }

      &:nth-of-type(2) {
        grid-column: span 3;
        grid-row: span 2;
      }

      &:nth-of-type(3) {
        grid-column: span 2;
        grid-row: span 2;
      }

      &:nth-of-type(4) {
        grid-column: span 2;
        grid-row: span 3;
      }

      &:nth-of-type(5) {
        grid-column: span 3;
        grid-row: span 2;
      }

      &:nth-of-type(6) {
        grid-column: span 6;
        grid-row: span 3;
      }

      &:nth-of-type(7) {
        grid-column: 7 / 10;
        grid-row: 5 / 9;
      }
    }

    &-reversed {
      img {
        &:nth-of-type(1) {
          grid-column: 1 / 4;
          grid-row: span 4;
        }

        &:nth-of-type(2) {
          grid-column: span 6;
          grid-row: span 3;
        }

        &:nth-of-type(3) {
          grid-column: 1 / 4;
          grid-row: 5 / 7;
        }

        &:nth-of-type(4) {
          grid-column: span 2;
          grid-row: span 3;
        }

        &:nth-of-type(5) {
          grid-column: 1 / 3;
          grid-row: span 2;
        }

        &:nth-of-type(6) {
          grid-column: 3 / 6;
          grid-row: span 2;
        }

        &:nth-of-type(7) {
          grid-column: 6 / 10;
          grid-row: 4 / 9;
        }
      }
    }
  }
}

.gallery-illustration {
  position: absolute;
  top: -35px;
  left: 50%;
  width: 75px;

  @media (min-width: 992px) {
    position: unset;
    width: 180px;
  }
}

.project-gallery {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 1rem;
  place-items: start;

  &-swiper {
    width: 100%;
    border-radius: var(--global-border-radius);
    overflow: hidden;

    .swiper-slide > img {
      width: 100%;
      aspect-ratio: 16 / 9;
      object-fit: cover;
      object-position: top left;
      cursor: zoom-in;
    }

    [class^='swiper-button'] {
      --swiper-navigation-sides-offset: 2rem;
      --swiper-navigation-color: #{$clr-primary};
      --swiper-navigation-size: 3rem;
    }

    .swiper-button-prev {
      &::after {
        content: '\f104';
        font-family: $font-font-awesome;
      }
    }

    .swiper-button-next {
      &::after {
        content: '\f105';
        font-family: $font-font-awesome;
      }
    }
  }

  &-thumbs {
    width: 100%;
    height: 50%;

    .swiper-slide {
      & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top left;
        border-radius: 1.25rem;
        cursor: pointer;
        filter: saturate(0.5);
        transition: all 0.2s ease;
      }

      &-thumb-active {
        & > img {
          filter: saturate(1);
        }
      }
    }
  }
}

.swal-video {
  &-popup {
    border-radius: 0;
  }

  &-container {
    margin: 0 !important;

    iframe {
      display: block;
      aspect-ratio: 16 / 9;
    }
  }
}

.swal-toast {
  &-icon {
    width: 1rem;
    height: 1rem;
    min-width: 1rem;
    font-size: 1rem !important;
    margin: 0 !important;
  }
}
